apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: shekthan5/shekthan5-python-app:latest
        ports:
        - containerPort: 3500
      imagePullSecrets:
      - name: dockerhub-secret

